body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #6e6f82;
 
  
  header {
    background-color: white;
    .navbar {



        justify-content: space-between;
      }
  }
}
