@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ol {
  padding: 0;
}

/**
 * Global color palette
 * =================================
 * - Generic colors
 * - color text
 * - color background
 * - Links
 * - color bouton
 * - <hr>
 * - Any others..
 */
h1 {
  font-size: 30px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
}

.fonctionnement span {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.descriptif_homepage > h2 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.menu__titre > h1 {
  font-size: 28px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
}

.content__text > p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.card_titre > p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

.card_titre > h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.main-restaurants__card__content p {
  font-size: 17px;
}

.btn-gradient,
.fonctionnement {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.picto-footer a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.main-footer__links > a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

h5 {
  font-size: 18px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
}

span {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.containerload {
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  animation: bgload 0s 1.5s both;
  -webkit-animation: bgload 0s 2s both;
  z-index: 4;
  height: 100%;
  width: 100%;
}
.containerload .load {
  height: 100%;
  width: 100%;
  gap: 15px;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  animation: logoload 2000ms 350ms both;
  -webkit-animation: logoload 2000ms 350ms both;
}
.containerload .load h5 {
  transform: scale(1.5);
}
.containerload .load__bar {
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  animation: bars 2000ms 350ms both;
  -webkit-animation: bars 2000ms 350ms both;
  -moz-animation: bars 2000ms 350ms both;
}
.containerload .load__bar--1 {
  animation-delay: 350ms;
}
.containerload .load__bar--2 {
  animation-delay: 700ms;
}
.containerload .load__bar--3 {
  animation-delay: 1050ms;
}

.load__bar--1 {
  background-color: #9356dc;
}

.load__bar--2 {
  background-color: #ff79da;
}

.load__bar--3 {
  background-color: #99e2d0;
}

@keyframes bars {
  10% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  95% {
    transform: rotate(180deg) scale(0);
    opacity: 0;
  }
}
@keyframes logoload {
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bgload {
  30% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }
}
.fa-solid {
  margin-right: 17px;
  font-size: 1.25em;
}

.btn-gradient {
  padding: 13px 18.75px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 25px;
  border: none;
  width: auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to bottom, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  position: relative;
  z-index: 1;
}
.btn-gradient:hover {
  cursor: pointer;
}
.btn-gradient:hover::after {
  opacity: 1;
}
.btn-gradient::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #a16be0 0%, #ff93e1 100%);
  z-index: -1;
  transition: opacity 250ms;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

input[type=checkbox] {
  display: none;
}

/*input[type="checkbox"]:hover + label {
  .coeur__vide {
    opacity: 0;
  }
  .coeur__plein {
    opacity: 1;
  }
}*/
input[type=checkbox]:checked + label .coeur__plein {
  opacity: 1;
}
input[type=checkbox]:checked + label .coeur__vide {
  opacity: 0;
}

.check {
  position: absolute;
  top: 80%;
  left: 85%;
  width: 22px;
  height: 22px;
  z-index: 3;
}
@media (min-width: 1024px) {
  .check {
    left: 90%;
  }
}

.check1 {
  cursor: pointer;
  position: relative;
  left: 4%;
}
@media (min-width: 768px) {
  .check1 {
    left: 2%;
  }
}
label {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}

.coeur__vide {
  display: flex;
  transition: ease-in-out 0.5s;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  width: 23px;
  height: 23px;
}

.coeur__plein {
  display: flex;
  transition: ease-in-out 0.5s;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 23px;
  height: 23px;
}

header {
  background-color: #FFFFFF;
}
header .navbar {
  display: flex;
  flex-flow: column wrap;
  color: #353535;
}
header .navbar__logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
header .navbar__logo__btn-retour {
  display: flex;
  position: absolute;
  top: 15px;
  left: 15px;
}
header .navbar__logo__btn-retour:hover {
  background-color: #F6F6F6;
  border-radius: 5px;
}
header .navbar__localisation {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #EAEAEA;
  height: 50px;
}

footer .main-footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 22px 25px;
  display: flex;
  flex-flow: column wrap;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;
  gap: 16px;
}
footer .main-footer__logo {
  margin: 0;
}
footer .main-footer__links {
  display: flex;
  flex-flow: column wrap;
  gap: 7px;
}
footer .main-footer__links .fa-solid {
  margin-right: 11px;
}
@media (min-width: 768px) {
  footer .main-footer {
    padding: 0;
    height: 114px;
    flex-flow: row-reverse nowrap;
    width: auto;
    gap: 0;
    align-items: center;
  }
  footer .main-footer__logo {
    margin-left: 30px;
    margin-right: 60px;
    padding: 64px 0 25px 0;
  }
  footer .main-footer__links {
    padding: 64px 0 25px 0;
    align-items: center;
    flex-flow: row nowrap;
    gap: 15px;
  }
}
@media (min-width: 1441px) {
  footer .main-footer {
    padding: 0;
    height: 140px;
  }
  footer .main-footer__logo {
    padding: 54px 0 25px 0;
  }
  footer .main-footer__links {
    padding: 54px 0 25px 0;
  }
}

.descriptif_homepage {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: center;
  align-content: center;
  padding: 30px;
  gap: 30px;
  background-color: #F6F6F6;
}

.fonctionnement {
  display: flex;
  flex-flow: column wrap;
  background-color: #FFFFFF;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 15px;
}
@media (min-width: 768px) {
  .fonctionnement {
    justify-content: center;
    margin: 2%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.fonctionnement ol {
  padding: 0;
  margin: 0;
  counter-reset: ol;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}
@media (min-width: 768px) {
  .fonctionnement ol {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.fonctionnement ol li {
  counter-increment: ol;
  display: flex;
  list-style: none;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 80px;
  width: auto;
  align-items: center;
  gap: 10%;
  text-align: center;
}
.fonctionnement ol li i {
  color: #7e7e7e;
}
@media (min-width: 768px) {
  .fonctionnement ol li {
    gap: 5%;
    width: 30%;
  }
}
.fonctionnement ol li::before {
  content: counter(ol);
  color: #FFFFFF;
  width: 10px;
  height: 10px;
  margin-left: -12px;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 10px;
  font-size: 10px;
}
.fonctionnement ol li:last-child i {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F6F6F6;
  padding: 20px;
  gap: 15px;
}
@media (min-width: 768px) {
  .restaurants {
    gap: 25px;
    padding: 25px 10%;
  }
}
.restaurants .main-restaurants__liste {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}
@media (min-width: 768px) {
  .restaurants .main-restaurants__liste {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurants .main-restaurants__liste__card {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}
@media (min-width: 768px) {
  .restaurants .main-restaurants__liste__card {
    width: 45%;
  }
}
.restaurants .main-restaurants__liste__card__content {
  background: #FFFFFF;
  border-radius: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: 0.5s;
}
.restaurants .main-restaurants__liste__card__content:hover {
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
}
.restaurants .main-restaurants__liste__card__content__text {
  display: flex;
  flex-flow: column wrap;
  padding: 13px 25px 13px 13px;
  align-items: flex-start;
}
.restaurants .main-restaurants__liste__card__content img {
  object-fit: cover;
  width: 100%;
  height: 174px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .main-restaurants__liste__card__content .stickernew {
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  color: #008766;
  width: 10%;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  overflow: hidden;
  width: auto;
  height: auto;
  padding: 5px 15px;
  border-radius: 2px;
}
.restaurants .main-restaurants__liste__card__content .stickernew:not(.st1, .st2) {
  display: none;
}

.bandeau-restaurant img {
  object-fit: cover;
  width: 100%;
  height: 275px;
  position: relative;
  z-index: 1;
  margin-bottom: -50px;
}

.menu {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #F6F6F6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  position: relative;
  z-index: 2;
  gap: 40px;
  padding-bottom: 40px;
  width: 100%;
}
@media (min-width: 768px) {
  .menu {
    width: 90%;
    left: 5%;
  }
}
.menu__titre {
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 32px;
  justify-content: space-between;
  padding: 0px 36px;
}
@media (min-width: 768px) {
  .menu__titre {
    gap: 20px;
    justify-content: center;
  }
}
.menu__cardsliste {
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  gap: 12px;
  animation: menus-appear 1s 520ms both;
}
.menu__cardsliste--1 {
  animation-delay: 520ms;
  padding: 0 10px;
}
.menu__cardsliste--2 {
  animation-delay: 1040ms;
  padding: 0 10px;
}
.menu__cardsliste--3 {
  animation-delay: 1560ms;
  padding: 0 10px;
}
@media (min-width: 768px) {
  .menu__cardsliste {
    padding: 0 13% 0 13%;
  }
}
.menu__cardsliste__titre {
  display: flex;
  flex-flow: column wrap;
}
.menu__cardsliste__titre .trait {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
}
.menu__cardsliste__card {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
}
.menu__cardsliste__card .card_titre {
  padding: 12px 18px 12px 10px;
  width: 154px;
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  .menu__cardsliste__card .card_titre {
    width: 209px;
  }
}
@media screen and (min-width: 525px) and (max-width: 767px) {
  .menu__cardsliste__card .card_titre {
    width: 100%;
  }
}
@media screen and (min-width: 425px) and (max-width: 525px) {
  .menu__cardsliste__card .card_titre {
    width: 259px;
  }
}
@media screen and (min-width: 768px) {
  .menu__cardsliste__card .card_titre {
    width: 100%;
  }
}
.menu__cardsliste__card .card_titre_p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 9px;
}
.menu__cardsliste__card .card_titre_h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .menu__cardsliste__card .card_titre {
    width: 100%;
  }
}
.menu__cardsliste__card .animcheck {
  display: flex;
  flex-direction: row;
}
.menu__cardsliste__card .card_prix {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 12px 0 12px 0;
  align-items: end;
  margin-right: 15px;
}
.menu__cardsliste__card .card_check {
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  width: 60px;
  height: 72px;
  margin-right: -76px;
  display: flex;
  align-items: center;
  justify-items: center;
  padding-left: 15px;
  animation: reverse__card_check__appear 0.8s;
}
.menu__cardsliste__card .card_check svg {
  font-size: 2rem;
  fill: white;
  padding: 15px;
  animation: reverse__card_check__rotate 0.8s forwards ease-in-out;
}
.menu__cardsliste__card:hover {
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.3);
}
.menu__cardsliste__card:hover .card_check {
  animation: card_check__appear 0.8s forwards ease-in-out;
}
.menu__cardsliste__card:hover .card_check svg {
  animation: card_check__rotate 0.8s forwards ease-in-out;
}
.menu__btn-commande {
  display: flex;
  justify-content: center;
}

@keyframes card_check__appear {
  from {
    opacity: 0;
    margin-right: -76px;
  }
  to {
    opacity: 1;
    margin-right: 0px;
  }
}
@keyframes reverse__card_check__appear {
  from {
    opacity: 1;
    margin-right: 0px;
  }
  to {
    opacity: 0;
    margin-right: -76px;
  }
}
@keyframes card_check__rotate {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes reverse__card_check__rotate {
  from {
    opacity: 1;
    transform: rotate(360deg);
  }
  to {
    opacity: 0;
    transform: rotate(0deg);
  }
}
@keyframes menus-appear {
  from {
    opacity: 0;
    transform: translatey(-20%);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
.alignlogo {
  display: flex;
  align-items: center;
}

.aligntext {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}