footer {
  .main-footer {
    background-color: $background-footer;
    color: $text-white;
    padding: 22px 25px;
    height: 142px;
    @include flexbox-colunmwrap;
    gap: 16px;
    
    &__logo {
      margin: 0;
    }
    &__links {
        @include flexbox-colunmwrap;
      gap: 7px;
      .fa-solid {
        margin-right: 11px;
      }
    }
    @media (min-width: $breakpoint_768) {
    padding:0 ;
    height: 114px;
      flex-flow: row-reverse nowrap;
      //padding: 64px 0 25px 0;
      width: auto;
      gap: 0;
      align-items: center;
      
      &__logo {
        margin-left: 30px;
        margin-right: 60px;
      }
      &__links {
        align-items: center;
        flex-flow: row nowrap;
        gap: 15px;
      }
    }
  }
}
