//////bouton degradérose

.btn-gradient {
  padding: 13px 18.75px;
  text-align: center;
  color: white;            
  border-radius: 25px;
  border: none;
  width: auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background-image: $linear-gradient_pink;
  border:none;
  position: relative;
  z-index: 1;
  &:hover {
      &::after {
          opacity: 1;
      }
  }
&::after{
  opacity:0;
  content:"";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background:linear-gradient(to bottom,lighten($Primaire-purple, 5%) 0%,lighten($secondaire-pink, 5%) 100%);
      z-index: -1;
      transition: opacity 250ms;
      border-radius: 25px;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
}


.btn-coeur{
  position: relative;
  z-index: 1;
border:none;
opacity: 1;
background:none;

&:hover {
      .btn-coeur__bg {
        opacity: 1;
        z-index: 1;   
  }
  }
}

.btn-coeur__bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: opacity 500ms;
}