/**
 * Global color palette
 * =================================
 * - Generic colors
 * - color text
 * - color background
 * - Links
 * - color bouton
 * - <hr>
 * - Any others..
 */

// Generic colors
$Primaire-purple: #9356DC;
$secondaire-pink: #FF79DA;
$tertiaire-green: #99E2D0;

//color text
$text-localisation: #353535;
$text-white: #FFFFFF;
//color background
$background-white: #FFFFFF;
$background-grey: #EAEAEA;
$background-greylight: #F6F6F6;
$background-footer: #353535;
//color bouton